:root {
    --primary: #1e90ff;
}

.text-primary{
    color:var(--primary) !important;
}

@import "./mixins";

.btn{
    border-radius: 0;
    padding: 6px 16px;
    line-height: normal;
    font-size: 14px;
}


.colorred{
    background-color: red;
}

.colorgreen{
    background-color: green;
}

.row_box_wrapper{
    display: flex;
    // flex-wrap: wrap;
    // align-items: center;
}


.verticle_slider{
    text-align: center;
}

.verticle_slider .color_slider{
    padding: 3px;
}

.verticle_slider .color_slider > *{
    height: 40px;
    width: 100%;
    display: block;
    background-color: #000;
    cursor: pointer;
    box-shadow: 0 0 5px #00000070;
}

.verticle_slider .number_slider > *{
    display: block;
    line-height: 40px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.verticle_slider .number_slider > .active{
    font-weight: 800;
}

.verticle_slider .pattren_slider > img{
    cursor: pointer;
    width: 100%;
    height: 175px;
}

.verticle_slider .pattren_slider > .active,
.verticle_slider .color_slider > .active{
    border:2px solid red;
}

.verticle_slider .slick-arrow {
    position: initial;
    color: #000;
    display: inline-block;
    transform: rotate(90deg);
}

.verticle_slider .slick-arrow::before {
    color: inherit;
} 

.verticle_slider{
    max-width: 60px;
}

.vertical__pattren_crousel{
    max-width: 55px;
}



  

  
  path:hover {
    cursor: pointer;
  }

  path {
    stroke: #000;
    stroke-width: 38px;
  }

  .svg_inner g,
  .svg_inner path {
    fill: inherit !important;
  }

  .svg_wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    color: #fff;
  }

  .svg_inner {
    width: 100%;
    height: auto;
    fill: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg.svg_row {
    overflow: initial !important;
  }

  .ropeBG {
    width: 100%;
  }

  .svg_wrapper[size="16"]{
    max-width:320px;
}

.svg_wrapper[size="14"]{
    max-width:300px;
}


.svg_wrapper[size="12"]{
    max-width:280px;
}

.svg_wrapper[size="10"]{
    max-width:250px;
}

.svg_wrapper[size="8"]{
    max-width:230px;
}

.svg_wrapper[size="6"]{
    max-width:200px;
}

.svg_wrapper[size="5"]{
    max-width:180px;
}

.sub_pattern_nav{
    display: none;

    &.active{
        display: block;
    }
}


.sub_pattern_crousel .slick-list, .sub_pattern_crousel .slick-track {
    min-height: 354px;
}

.pattren_slider{
    min-width:55px;
}


.cart_item{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    position:relative;
    padding-bottom:20px;
    margin-bottom:  20px;
    .cart_img{
        max-width: 40px;
        width: 100%;
        object-fit: cover;
        // height: 90px;
        object-position: top center;
        vertical-align: top;
    }

    b{
        font-weight:700;
    }

    .colors_div{
        font-size:0;
        >*{
            font-size: 14px;
            display: block;
            margin-bottom: 2px;
        }

        h5{
           font-weight: 700;
            font-size: 16px;
            margin-bottom: 7px;
        }
    }

    .remove_btn{
        position: absolute;
    bottom: 5px;
    left: 0;
    cursor: pointer;
    line-height: normal;
    color: red;
    }
}

.cart_bar{
    .card_item_row{
        max-height: 388px;
        overflow: auto;
    }
}

.qty_input{
    display: inline-flex;
    justify-content:space-between;

    > input{
        width: 40px;
        line-height: normal;
        font-size: 14px;
        padding: 6px 8px;
        border-left: 0;
        border-right: 0;
        border-top:1px solid #000;
        border-bottom: 1px solid #000;
        outline: none;
        box-shadow: none;
        text-align: center;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    >i{
        cursor: pointer;
        display:flex;
        align-items:center;
        padding: 6px 5px;
        font-size: 14px;
        line-height: normal;
        color:#007bff;
        border:1px solid #000;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}


.price_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    > *{
        font-weight:400;
    }

    &.total_item{
        >*{
            font-weight:700;
        }
        
    }
}