:root {
    --primary: #3e6c8e;
}

.text-primary{
    color:var(--primary) !important;
}

@import "./mixins";


body{
    font-size: 14px;
}


.header_top{
    background-color: var(--primary);
    padding:9px 0;
    .hTLink{
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        border-left: 1px solid #fff;

        &:hover{
            color:#ffffffcf;
        }
    }
}

.main_header{
    z-index: 9;
    position: relative;
    .navbar-collapse{
        background-color: #fff !important;
        padding: 5px 0;
        .nav-link{
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    .logo_wrapper{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 6px 15px;
    }

    .navbar-brand{
        justify-content: center !important;
        .logo_img{
            width: 25%;
            height: auto;
        }
    }
}


@media(max-width:768px){
    .main_header .navbar-brand{ 
        align-items: center;

        .logo_img{
            width: 80%;
        }
    }

    .header_top{
        .hTLink{
            display: block;
            text-align: center;
            border-left: 0;
        }

        .hTLink:not(:last-child){
            margin-bottom: 10px;
        }
    }
}


.main_wrapper{
    overflow: hidden;

    .container{
        > .row > *{
            padding-top:30px;
        }
    }

    .right_bg{
        position: relative;

        >*{
            position: relative;
        }

        &::before{
            content:"";
            left: 0;
            top:0;
            position: absolute;
            width: 300%;
            height: 100%;
            right: 0;
            top: 0;
            border-left: 1px solid #dee2e6;
            background-color: #fafafa;
        }
        
    }
}


@media(min-width:992px){
    .main_wrapper .container > .row > * {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.btn{
    border-radius: 4px;
    padding: 12px 20px;
    line-height: normal;
    font-weight: 600;
    font-size: 14px;
}

.btn-primary{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}


.colorred{
    background-color: red;
}

.colorgreen{
    background-color: green;
}

.row_box_wrapper{
    display: flex;
    // flex-wrap: wrap;
    // align-items: center;
}


.verticle_slider{
    text-align: center;
}

.verticle_slider .color_slider{
    padding: 3px;
}

.verticle_slider .color_slider > *{
    height: 40px;
    width: 100%;
    display: block;
    background-color: #000;
    cursor: pointer;
    box-shadow: 0 0 5px #00000070;
}

.verticle_slider .number_slider > *{
    display: block;
    line-height: 40px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.verticle_slider .number_slider > .active{
    font-weight: 800;
}

.verticle_slider .pattren_slider > img{
    cursor: pointer;
    width: 100%;
    height: 175px;
}

.verticle_slider .pattren_slider > .active,
.verticle_slider .color_slider > .active{
    border:2px solid red;
}

.verticle_slider .slick-arrow {
    position: initial;
    color: #000;
    display: inline-block;
    transform: rotate(90deg);
}

.verticle_slider .slick-arrow::before {
    color: inherit;
} 

.verticle_slider{
    max-width: 60px;
}

.vertical__pattren_crousel{
    max-width: 55px;
}



  

  
  path:hover {
    cursor: pointer;
  }

  path {
    stroke: #000;
    stroke-width: 38px;
  }

  .svg_inner g,
  .svg_inner path {
    fill: inherit !important;
  }

  .svg_wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    color: #fff;
  }

  .svg_inner {
    width: 100%;
    height: auto;
    fill: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg.svg_row {
    overflow: initial !important;
  }

  .ropeBG {
    width: 100%;
  }

  .svg_wrapper[size="16"]{
    max-width:320px;
}

.svg_wrapper[size="14"]{
    max-width:300px;
}


.svg_wrapper[size="12"]{
    max-width:280px;
}

.svg_wrapper[size="10"]{
    max-width:250px;
}

.svg_wrapper[size="8"]{
    max-width:230px;
}

.svg_wrapper[size="6"]{
    max-width:200px;
}

.svg_wrapper[size="5"]{
    max-width:180px;
}

.sub_pattern_nav{
    display: none;

    &.active{
        display: block;
    }
}


.sub_pattern_crousel .slick-list, .sub_pattern_crousel .slick-track {
    min-height: 354px;
}

.pattren_slider{
    min-width:55px;
}




.cart_item{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    // border-bottom: 1px solid #dee2e6;
    position:relative;
    padding-bottom:20px;
    padding-top: 8px;
    margin-bottom:  20px;

    b{
        font-weight:700;
    }

    h5{
        font-weight: 700;
         font-size: 16px;
         margin-bottom: 7px;
     }

     .cart_svg {
        width: 46px;
        margin-right: 10px;
        pointer-events: none;
        position: relative;
        > .qty{
            position: absolute;
            right: -7px;
            top: -8px;
            font-size: 12px;
            border-radius: 50%;
            width: 22px;
            line-height: 22px;
            box-shadow: 0 0 6px #ffffffbd;
            text-align: center;
            font-weight: 700;
            background-color: #000;
            color: #fff;
        }
    }

    .card_price{
        font-size: 15px;
        font-weight: 700;
    }

     .cart_size{
         display: block;
         font-size: 13px;
         margin-bottom: 6px;
     }

    .colors_div{
        font-size:0;
        >*{
            font-size: 12px;
            display: block;
            margin-bottom: 2px;
        }
    }

    .remove_btn{
        position: absolute;
    bottom: 0px;
    left: 0;
    cursor: pointer;
    line-height: normal;
    color: red;
    }
}

.cart_bar{
    .card_item_row{

        .card_row{
            max-height: 388px;
            overflow: auto;
        }
       
        .card_row:empty{
            display: none;
        }
    }
}

.qty_input{
    display: inline-flex;
    justify-content:space-between;

    > input{
        width: 60px;
        line-height: normal;
        font-size: 14px;
        padding: 12px 12px;
        border-left: 0;
        border-right: 0;
        border-top:1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        outline: none;
        box-shadow: none;
        text-align: center;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    >i{
        cursor: pointer;
        display:flex;
        align-items:center;
        padding: 12px 12px;
        font-size: 14px;
        line-height: normal;
        color:var(--primary);
        border:1px solid #dee2e6;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}


.price_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    > *{
        font-weight:400;
    }

    > *:last-child{
        font-weight: 500;
    }

    &.total_item{
        > *{
            font-size: 16px;
        }

        > *:last-child{
            font-size: 22px;
            font-weight: 700;
        }
        
    }
}

.info_item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 0;

    &:not(:last-child){
        border-bottom: 1px solid #e6e6e6;
    }

    .action{
        a{
            cursor: pointer;
            color:var(--primary);
        }
    }
}

.checkout_breadcrumb{
    padding: 0;
    background-color: transparent;

    > *{
        cursor: pointer;
    font-weight: 400;
    color: #000;
    text-decoration: none !important;

        &.active{
            color:var(--primary);
            font-weight: 600;
        }
    }
}

.shipping_items{
    > label{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 14px 12px;

        &:not(:last-child){
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        > .price{
            margin-left: auto;
            font-weight: 600;
            font-size: 16px;
        }

        > .content{
            padding:0 10px;

            h6{
                font-size: 14px;
                line-height: normal;
                margin-bottom: 3px;
            }
        }
    }
}


.checkout_page_cart{
    .remove_btn{
        display: none;
    }

    .cart_item{
        padding-bottom: 0;
    }
}

a[disabled]{
    pointer-events: none;
}

.checkout_footer_nav{
    .nav-link{
        color:var(--primary);
    }

    > *:first-child{
        .nav-link{
            padding-left: 0;
        }
    }
}