:root {
    --primary: #1e90ff;
}

.text-primary{
    color:var(--primary) !important;
}

@import "./mixins";


.colorred{
    background-color: red;
}

.colorgreen{
    background-color: green;
}

.row_box_wrapper{
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
}


.verticle_slider{
    text-align: center;
}

.verticle_slider .color_slider{
    padding: 3px;
}

.verticle_slider .color_slider > *{
    height: 40px;
    width: 100%;
    display: block;
    background-color: #000;
    cursor: pointer;
    box-shadow: 0 0 5px #00000070;
}

.verticle_slider .number_slider > *{
    display: block;
    line-height: 40px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.verticle_slider .number_slider > .active{
    font-weight: 800;
}

.verticle_slider .pattren_slider > img{
    cursor: pointer;
    width: 100%;
    height: 175px;
}

.verticle_slider .pattren_slider > .active,
.verticle_slider .color_slider > .active{
    border:2px solid red;
}

.verticle_slider .slick-arrow {
    position: initial;
    color: #000;
    display: inline-block;
    transform: rotate(90deg);
}

.verticle_slider .slick-arrow::before {
    color: inherit;
} 

.verticle_slider{
    max-width: 60px;
}

.vertical__pattren_crousel{
    max-width: 55px;
}



  

  
  path:hover {
    fill-opacity: 0.5 !important;
    cursor: pointer;
  }

  path {
    stroke: #000;
    stroke-width: 38px;
  }

  .svg_inner g,
  .svg_inner path {
    fill: inherit !important;
  }

  .svg_wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    color: #fff;
  }

  .svg_inner {
    width: 100%;
    height: auto;
    left: 0;
    fill: #fff;
    top: 0;
    position: absolute;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg.svg_row {
    overflow: initial !important;
  }

  .ropeBG {
    width: 100%;
  }

  .svg_wrapper[size="16"]{
    max-width:320px;
}

.svg_wrapper[size="14"]{
    max-width:300px;
}


.svg_wrapper[size="12"]{
    max-width:280px;
}

.svg_wrapper[size="10"]{
    max-width:250px;
}

.svg_wrapper[size="8"]{
    max-width:230px;
}

.svg_wrapper[size="6"]{
    max-width:200px;
}

.svg_wrapper[size="5"]{
    max-width:180px;
}

.sub_pattern_nav{
    display: none;

    &.active{
        display: block;
    }
}